---
export interface Props {
  widthLogo: string;
  altLogo: string;
}

import ListItem from "./Nav/ListItem.astro";
import categories from "/src/content/categories.json";
const { widthLogo, altLogo } = Astro.props;
---

<header class="header-primary">
  <div class="header-inner">
    <div class="main-logo">
      <img
        loading="lazy"
        src="/src/images/logo-lg-100-44.svg"
        width={widthLogo}
        alt={altLogo}
      />
    </div>
    <div class="header-details">
      <nav class="main-nav">
        <ul>
          {
            categories.map((category) => (
              <ListItem
                title={category.title}
                link={category.link}
                subChildContent={category.subChildContent}
              />
            ))
          }
        </ul>
      </nav>
      <div class="header-links">
        <button class="button" data-role="aslink" data-type="default"
          ><span>Business</span>
        </button>
        <ul class="links-actions">
          <li class="icon-pseudo search"></li>
          <li class="icon-pseudo login">
            <ul class="submenu-actions"><li>Sign In / Login In</li></ul>
          </li>
          <li class="icon-pseudo cart">
            <span class="item-count hide hidden" style="display:none;">1</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
